<div class="footer">
    <!-- top part -->
    <div class="d-flex flex-row justify-content-between top-footer">
        <div class="col d-flex justify-content-center top-footer-1">
            <div class="text-center">
                <h5 style="height: 20%;">Contact Us</h5>
                <div class="d-flex justify-content-evenly mt-3">
                    <a href="#"><img src="https://www.flaticon.com/svg/vstatic/svg/145/145802.svg?token=exp=1620602007~hmac=09bcd25277938693646a045cf23fec90" width="25px" class="using" alt=""></a>
                    <a href="#"><img src="https://www.flaticon.com/svg/vstatic/svg/2875/2875404.svg?token=exp=1620602065~hmac=392c4eefbab7954e25ca2f450e614fab" width="25px" class="using"  alt=""></a>
                    <a href="#"><img src="https://www.flaticon.com/svg/vstatic/svg/1409/1409937.svg?token=exp=1620606452~hmac=bf07043d5179ccb32777e7e81cb54d2d" width="25px" class="using" alt=""></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="col d-flex justify-content-center top-footer-2">
          <div class="text-center">
              <h5>Shop</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Fruits & Vegetables</a></li>
                    <li><a href="#">Snacks</a></li>
                </ul>
                <a href=""><h5>Cart</h5></a>
          </div>  
        </div>
        <hr>
        <div class="col d-flex justify-content-center top-footer-3">
            <div class="text-center">
                <p>Email Newsletter</p>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <button class="input-group-text btn-outline-dark" type="submit" id="submit"><i class="fas fa-angle-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<hr>
<!-- bottom part -->
<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
        <div class="col bottom-footer-1">
            <p>©2021 Brand Name.</p>
        </div>
        <div class="col text-center">
            <div class="d-flex flex-row justify-content-between bottom-footer-2">
                <p><a href="#">Shipping & Returns</a></p>
                <p><a href="#">Terms & Conditions</a></p>
                <p><a href="#">Privacy policy</a></p>
            </div>
        </div>
    </div>
</div>
</div>