<div class="container mt-5 mb-5">
    <h3 *ngIf='category == 2'>Snacks</h3>
    <h3 *ngIf='category == 1'>Fruits & Vegetables</h3>
    <form #ref='ngForm' (ngSubmit)="updateSnacksData()" *ngIf='category == 2' class="row g-3 mt-3">
        <div class="col-md-6">
            <label for="ProductName" class="form-label">Product Name</label>
            <input type="text" name="title" class="form-control" id="ProductName" placeholder="Product Name" [(ngModel)]='productData.name'>
        </div>
        <div class="col-12">
            <h5>Images</h5>
            <img src={{productData.url}} width="400px" alt="">
            <img src={{productData.url1}} width="200px" alt="">
        </div>
        <div class="col-12">
            <label for="Image1" class="form-label">Image-1</label>
            <input type="text" name="Image1" class="form-control" id="Image1" placeholder="Image1 url" [(ngModel)]='productData.url'>
        </div>
        <div class="col-12">
            <label for="Image2" class="form-label">Image-2</label>
            <input type="text" name="Image2" class="form-control" id="Image2" placeholder="Image2 url" [(ngModel)]='productData.url1'>
        </div>
        <div>
            <h5>Pricing</h5>
            <div class="row">
                <div class="col-md-6">
                    <label for="Mrp" class="form-label">Mrp</label>
                    <input type="number" class="form-control" name="price" id="Mrp" [(ngModel)]='productData.price'>
                </div>
                <div class="col-md-6">
                    <label for="saleprice" class="form-label">Sale Price</label>
                    <input type="number" class="form-control" name="sale_price" id="saleprice" [(ngModel)]='productData.sale_price'>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h5>Description</h5>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea" name="description" [(ngModel)]='productData.description'></textarea>
                <label for="floatingTextarea">About the Item</label>
            </div>
        </div>
        <div class="col-12">
            <h5>Attributes</h5>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea" name="ingredients" [(ngModel)]='productData.ingredients'></textarea>
                <label for="floatingTextarea">Ingredients</label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" (click)='deleteSnacksProduct()' class="btn btn-danger">Delete</button>
        </div>
    </form>
    <form #ref='ngForm' (ngSubmit)="updateFruitsProduct()" *ngIf='category == 1' class="row g-3 mt-3">
        <div class="col-md-6">
            <label for="ProductName" class="form-label">Product Name</label>
            <input type="text" name="title" class="form-control" id="ProductName" placeholder="Product Name" [(ngModel)]='productData.name'>
        </div>
        <div class="col-12">
            <h5>Images</h5>
            <img src={{productData.url}} width="400px" alt="">
            <img src={{productData.url1}} width="200px" alt="">
        </div>
        <div class="col-12">
            <label for="Image1" class="form-label">Image-1</label>
            <input type="text" name="Image1" class="form-control" id="Image1" placeholder="Image1 url" [(ngModel)]='productData.url'>
        </div>
        <div class="col-12">
            <label for="Image2" class="form-label">Image-2</label>
            <input type="text" name="Image2" class="form-control" id="Image2" placeholder="Image2 url" [(ngModel)]='productData.url1'>
        </div>
        <div>
            <h5>Pricing</h5>
            <div class="row">
                <div class="col-md-6">
                    <label for="Mrp" class="form-label">Mrp</label>
                    <input type="number" class="form-control" name="price" id="Mrp" [(ngModel)]='productData.price'>
                </div>
                <div class="col-md-6">
                    <label for="saleprice" class="form-label">Sale Price</label>
                    <input type="number" class="form-control" name="sale_price" id="saleprice" [(ngModel)]='productData.sale_price'>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h5>Description</h5>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea" name="description" [(ngModel)]='productData.description'></textarea>
                <label for="floatingTextarea">Comments</label>
            </div>
        </div>
        <div class="col-12">
            <h5>Attributes</h5>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea" name="benifits" rows="5" [(ngModel)]='productData.benifits'></textarea>
                <label for="floatingTextarea">Benefits</label>
            </div>
            <div class="form-floating mt-3">
                <textarea class="form-control" id="floatingTextarea" name="storage_uses" [(ngModel)]='productData.storage_uses'></textarea>
                <label for="floatingTextarea">Storage & Usage</label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" (click)='deleteFruitsProduct()' class="btn btn-danger ms-5">Delete</button>
        </div>
    </form>
</div>