<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="header mt-md-5">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="header-pretitle">
                                Overview
                            </h6>
                            <h1 class="header-title">
                                Account
                            </h1>
                        </div>
                    </div>
                    <nav class="row align-items-center">
                        <div class="col">
                            <ul class="nav nav-tabs nav-overflow header-tabs">
                                <li class="nav-item">
                                    <a (click)="navigate('general')" routerLinkActive='active' class="nav-link">
                                        General
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a (click)="navigate('contact')" class="nav-link">
                                        Contact
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a (click)="navigate('shipping')" class="nav-link">
                                        Shipping
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar">
                                <img class="avatar-img rounded-circle mt-3" width="250px" height="250px" src={{userDetails.profilePic}}
                                    alt="...">
                            </div>
                        </div>
                        <div class="col ms-n2">
                            <h4 class="mb-1">
                                Your avatar
                            </h4>
                            <small class="text-muted">
                                PNG or JPG no bigger than 1000px wide and tall.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#openuploadmodal">
                        Upload
                    </button>
                </div>
            </div>
            <div class="modal fade" id="openuploadmodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form #ref="ngForm" (ngSubmit)="updateProfilePic(ref.value)">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Profile Pic</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="formFileSm" class="form-label">Upload Profile Picture</label>
                                    <div class="text-muted">Preferably square images</div>
                                    <input class="form-control form-control-sm mt-2" name=profilePic id="formFileSm"
                                        (change)='selectFile($event)' ngModel type="file">
                                    <div class="d-flex justify-content-center">
                                        <img [src]='url' class="avatar-img rounded-circle mt-3" *ngIf='showImage'
                                            height="250px" width="250px" alt="">
                                    </div>
                                    <div class="text-muted" *ngIf='fileSizegt1MB'>Image size should be less than 1MB
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" *ngIf='!fileSizegt1MB' class="btn btn-primary">Save
                                    changes</button>
                                <button type="submit" *ngIf='fileSizegt1MB' class="btn btn-primary" disabled>Save
                                    changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <section id="general">
                <hr class="my-5">
                <form #general="ngForm" (ngSubmit)="general.form.valid && addGeneralDetails()">
                    <div class="row">
                        <h3>General</h3>
                        <div class="col-12 mt-2">
                            <div class="form-group">
                                <label class="form-label">
                                    User Name
                                </label>
                                <input type="text" class="form-control" name="username" value={{userDetails.username}}
                                    disabled>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    First name
                                </label>
                                <input type="text" name="firstName" class="form-control"
                                    [(ngModel)]='generalDetails.firstName' #reffirstName="ngModel" required>
                                <p class="text-danger"
                                    *ngIf="(general.submitted||reffirstName.touched) && reffirstName.errors?.required">
                                    First
                                    Name required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Last name
                                </label>
                                <input type="text" name="lastName" class="form-control"
                                    [(ngModel)]='generalDetails.lastName' #reflastName="ngModel" required>
                                <p class="text-danger"
                                    *ngIf="(general.submitted||reflastName.touched) && reflastName.errors?.required">
                                    Last
                                    Name
                                    required
                                </p>
                            </div>

                        </div>
                        <div class="col-12 mt-2">
                            <div class="form-group">
                                <label class="mb-1">
                                    Email address
                                </label>
                                <small class="form-text text-muted">
                                    This contact will be shown to others publicly, so choose it carefully.
                                </small>
                                <input type="email" name="email" class="form-control" placeholder={{userDetails.email}}
                                    [(ngModel)]='generalDetails.email' #refEmail='ngModel' required>
                                <p class="text-danger"
                                    *ngIf="(general.submitted||refEmail.touched) && refEmail.errors?.required">Email
                                    required
                                </p>
                            </div>

                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Phone
                                </label>
                                <input type="text" name="phone" class="form-control mb-3" placeholder="+91"
                                    inputmode="text" [(ngModel)]='generalDetails.phone' #refPhone='ngModel'
                                    pattern="^[0-9]{10}$" required>
                                <p class="text-danger"
                                    *ngIf="(general.submitted||refPhone.touched) && refPhone.errors?.required">
                                    Phone number
                                    required</p>
                                <p class="text-danger"
                                    *ngIf="(general.submitted||refPhone.dirty) && refPhone.errors?.pattern">Phone
                                    Number must be 10 digits</p>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Birthday
                                </label>
                                <input type="date" name="birthday" class="form-control"
                                    [(ngModel)]='generalDetails.birthday' #refBirthday='ngModel' required>
                                <p class="text-danger"
                                    *ngIf="(general.submitted||refBirthday.touched) && refBirthday.errors?.required">
                                    Birthday
                                    required</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                    <hr class="mt-4 mb-5">
                </form>
            </section>

            <section id="contact">
                <form #contact="ngForm" (ngSubmit)="contact.form.valid && addContactDetails()">
                    <div class="row">
                        <h3>Contact</h3>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Twitter <i class="fab fa-twitter"></i>
                                </label>
                                <input type="text" name="twitter" class="form-control"  #reftwitter="ngModel" required [(ngModel)]='contactDetails.twitter'>
                                <p class="text-danger"
                                    *ngIf="(contact.submitted||reftwitter.touched) && reftwitter.errors?.required">
                                    Twitter
                                    URL required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Linkedin <i class="fab fa-linkedin"></i>
                                </label>
                                <input type="text" name="linkedin" class="form-control" #reflinkedin="ngModel" required [(ngModel)]='contactDetails.linkedin'>
                                <p class="text-danger"
                                    *ngIf="(contact.submitted||reflinkedin.touched) && reflinkedin.errors?.required">
                                    Linkedin
                                    URL required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Facebook <i class="fab fa-facebook"></i>
                                </label>
                                <input type="text" name="facebook" class="form-control" #reffacebook="ngModel" required [(ngModel)]='contactDetails.facebook'>
                                <p class="text-danger"
                                    *ngIf="(contact.submitted||reffacebook.touched) && reffacebook.errors?.required">
                                    Facebook
                                    URL required
                                </p>
                            </div>

                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Instagram <i class="fab fa-instagram"></i>
                                </label>
                                <input type="text" name="instagram" class="form-control mb-3" #refinstagram="ngModel" required [(ngModel)]='contactDetails.instagram'>
                                <p class="text-danger"
                                    *ngIf="(contact.submitted||refinstagram.touched) && refinstagram.errors?.required">
                                    Instagram
                                    URL required
                                </p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                    <hr class="mt-4 mb-5">
                </form>
            </section>

            <section id="shipping">
                <form #shipping="ngForm" (ngSubmit)="shipping.form.valid && addShippingDetails()">
                    <div class="row">
                        <h3>Shipping Address</h3>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Name
                                </label>
                                <input type="text" name="name" class="form-control"  required #refname='ngModel' [(ngModel)]='shippingDetails.name'>
                                <p class="text-danger"
                                    *ngIf="(shipping.submitted||refname.touched) && refname.errors?.required">
                                    Name required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Pincode
                                </label>
                                <input type="text" name="pincode" class="form-control" required #refpincode='ngModel' [(ngModel)]='shippingDetails.pincode'>
                                <p class="text-danger"
                                    *ngIf="(shipping.submitted||refpincode.touched) && refpincode.errors?.required">
                                    Pincode required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Flat, House no., Building, Company, Apartment
                                </label>
                                <input type="text" name="line1" class="form-control" required #refline1='ngModel' [(ngModel)]='shippingDetails.line1'>
                                <p class="text-danger"
                                    *ngIf="(shipping.submitted||refline1.touched) && refline1.errors?.required">
                                    Line1 required
                                </p>
                            </div>

                        </div>
                        <div class="col-12 mt-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Area, Colony, Street, Sector, Village
                                </label>
                                <input type="text" name="line2" class="form-control mb-3" required #refline2='ngModel' [(ngModel)]='shippingDetails.line2'>
                                <p class="text-danger"
                                    *ngIf="(shipping.submitted||refline2.touched) && refline2.errors?.required">
                                    Line2 required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Landmark
                                </label>
                                <input type="text" name="landmark" class="form-control mb-3" required #reflandmark='ngModel' [(ngModel)]='shippingDetails.landmark'>
                                <p class="text-danger"
                                    *ngIf="(shipping.submitted||reflandmark.touched) && reflandmark.errors?.required">
                                    Landmark required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    Town/City
                                </label>
                                <input type="text" name="town" class="form-control mb-3" required #reftown='ngModel' [(ngModel)]='shippingDetails.town'>
                                <p class="text-danger"
                                    *ngIf="(shipping.submitted||reftown.touched) && reftown.errors?.required">
                                    Town required
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-2 col-md-6">
                            <div class="form-group">
                                <label class="form-label">
                                    State
                                </label>
                                <input type="text" name="state" class="form-control mb-3" required #refstate='ngModel' [(ngModel)]='shippingDetails.state'>
                                <p class="text-danger"
                                    *ngIf="(shipping.submitted||refstate.touched) && refstate.errors?.required">
                                    State required
                                </p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                    <hr class="mt-4 mb-5">
                </form>
            </section>
            <div class="row justify-content-between">
                <div class="col-12 col-md-6">

                    <!-- Heading -->
                    <h4>
                        Delete your account
                    </h4>

                    <!-- Text -->
                    <p class="small text-muted mb-md-0">
                        Please note, deleting your account is a permanent action and will no be recoverable once
                        completed.
                    </p>

                </div>
                <div class="col-auto">

                    <!-- Button -->
                    <button class="btn btn-danger">
                        Delete
                    </button>

                </div>
            </div>
            <br><br>

        </div>
    </div>
</div>