<div class="col-md-8 mx-auto mt-5 mb-5 p-1" *ngIf='newpayment'>
    <h5 class="display-5 mt-3 mb-3">Add a payment method</h5>
    <form #payment='ngForm' (ngSubmit)='payment.form.valid && addPaymentDetails()'>
        <div class="form-check mb-4">
            <input class="form-check-input" type="radio" id="paypal" name="payment-method">
            <label class="form-check-label" for="paypal">PayPal <i class="fab fa-paypal"></i></label>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="radio" id="card" name="payment-method">
            <label class="form-check-label" for="card">Credit / Debit card <i class="fas fa-credit-card"></i></label>
        </div>
        <div class="row g-3 mb-2">
            <div class="col-sm-6">
                <input class="form-control" type="text" name="number" placeholder="Card Number" required
                    #refCardNumber="ngModel" [(ngModel)]=paymentDetails.cardnumber>
                <div class="invalid-feedback">Please fill in the card number!</div>
                <p class="text-danger"
                    *ngIf="(payment.submitted||refCardNumber.touched) && refCardNumber.errors?.required">
                    Name required
                </p>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="name" placeholder="Full Name" required #refName="ngModel"
                    [(ngModel)]=paymentDetails.name>
                <div class="invalid-feedback">Please provide name on the card!</div>
                <p class="text-danger" *ngIf="(payment.submitted||refName.touched) && refName.errors?.required">
                    Name required
                </p>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="expiry" placeholder="MM/YY" required
                    #refexpiryDate="ngModel" [(ngModel)]=paymentDetails.expirydate>
                <div class="invalid-feedback">Please provide card expiration date!</div>
                <p class="text-danger"
                    *ngIf="(payment.submitted||refexpiryDate.touched) && refexpiryDate.errors?.required">
                    Name required
                </p>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="cvc" placeholder="CVC" required #refCvc="ngModel"
                    [(ngModel)]=paymentDetails.cvc>
                <div class="invalid-feedback">Please provide card CVC code!</div>
                <p class="text-danger" *ngIf="(payment.submitted||refCvc.touched) && refCvc.errors?.required">
                    Name required
                </p>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary d-block w-100" type="submit">Register this card</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf='!newpayment' class="container mt-5 mb-5">
    <h5 class="display-5 mt-3 mb-3">Add a payment method</h5>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Card Number</th>
                <th>Name</th>
                <th>Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let p of paymentArray'>
                <td> {{p.cardnumber}} </td>
                <td> {{p.name}} </td>
                <td> {{p.expirydate}} </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary float-end mt-1 mb-5" type="button" data-bs-toggle="modal" data-bs-target="#openuploadmodal">Add New
        Payment Method</button>
    <div class="modal fade" id="openuploadmodal">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a payment method</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #payment='ngForm' (ngSubmit)='payment.form.valid && addPaymentDetails()'>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="radio" id="paypal" name="payment-method">
                            <label class="form-check-label" for="paypal">PayPal <i class="fab fa-paypal"></i></label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="radio" id="card" name="payment-method">
                            <label class="form-check-label" for="card">Credit / Debit card <i
                                    class="fas fa-credit-card"></i></label>
                        </div>
                        <div class="row g-3 mb-2">
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="number" placeholder="Card Number" required
                                    #refCardNumber="ngModel" [(ngModel)]=paymentDetails.cardnumber>
                                <div class="invalid-feedback">Please fill in the card number!</div>
                                <p class="text-danger"
                                    *ngIf="(payment.submitted||refCardNumber.touched) && refCardNumber.errors?.required">
                                    Name required
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="name" placeholder="Full Name" required
                                    #refName="ngModel" [(ngModel)]=paymentDetails.name>
                                <div class="invalid-feedback">Please provide name on the card!</div>
                                <p class="text-danger"
                                    *ngIf="(payment.submitted||refName.touched) && refName.errors?.required">
                                    Name required
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="expiry" placeholder="MM/YY" required
                                    #refexpiryDate="ngModel" [(ngModel)]=paymentDetails.expirydate>
                                <div class="invalid-feedback">Please provide card expiration date!</div>
                                <p class="text-danger"
                                    *ngIf="(payment.submitted||refexpiryDate.touched) && refexpiryDate.errors?.required">
                                    Name required
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="cvc" placeholder="CVC" required
                                    #refCvc="ngModel" [(ngModel)]=paymentDetails.cvc>
                                <div class="invalid-feedback">Please provide card CVC code!</div>
                                <p class="text-danger"
                                    *ngIf="(payment.submitted||refCvc.touched) && refCvc.errors?.required">
                                    Name required
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary d-block w-100" type="submit">Register this card</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>