<div class="row">
    <div @slideleft *ngIf='!hideNavbar' class="navbar col-2 shadow-lg">
        <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
            <div class="navigation">
                <img src="../../assets/Images/logo-removebg-preview.png" width="150px" alt="">
                <h3>Daily Fresh</h3>
                <hr>
                <ul class="list-unstyled text-center">
                    <li><a routerLink='home'>Home</a></li>
                    <li class="dropdown">
                        <button class="btn" (click)='showDropdown=showDropdown?false:true'>
                            Products
                        </button>
                    </li>
                    <ul *ngIf='showDropdown' class="list-unstyled text-center mt-1">
                        <li><a routerLink="fruits_vegetables">Fruits & Vegetables</a></li>
                        <li><a routerLink="snacks">Snacks</a></li>
                    </ul>
                    <li>
                        <button class="btn"><a routerLink="users"> Users</a></button>
                    </li>
                </ul>
                <button (click)='hideNavbar=true' class="btn hide-navbar">
                    <i class="fas fa-chevron-circle-left"></i>
                </button>
            </div>
        </div>
    </div>
    <div @slideright *ngIf='!hideNavbar' class="col-10">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf='hideNavbar' class="col-12">
        <button (click)='hideNavbar=false' class="btn show-navbar" style="position: fixed; top: 1px;">
            <i class="fas fa-chevron-circle-right"></i>
        </button>
        <router-outlet></router-outlet>
    </div>
</div>