<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-evenly">
        <h3 class="display-5">Welcome back to your store Admin</h3>
        <img src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2017_26/2053956/170627-better-grocery-store-main-se-539p-2053956.jpg" width="450px" alt="">
    </div>
    <div class="container">
        <a routerLink="/admin/snacks">
            <div class="card mt-3 mb-3">
                <div class="card-body display-6">
                    <div class="row row-cols-sm-1 row-cols-lg-2">
                        <div class="col-4">
                            <img src="../../../assets/Images/undraw_factory_dy0a.png" width="300vw" alt="">
                        </div>
                        <div class="col-8 mt-5">
                            Check Your Products Here
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/admin/users">
            <div class="card mt-3 mb-3 display-6">
                <div class="row row-cols-sm-1 row-cols-lg-2">
                    <div class="col-4">
                        <img src="../../../assets/Images/undraw_people_tax5.png" width="250vw" alt="">
                    </div>
                    <div class="col-8 mt-5">
                        Check Your Users Here
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>