.main {
    width: 100%;
}

.nav-bar {
    background-color: hsl(76, 66%, 59%);
    width: 5%;
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.nav-item {
    width: 100%;
    position: relative;
}

.navbar:hover {
    width: 16rem;
}

.nav-link {
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.link-text {
    display: none;
    margin: 0px;
    padding: 5px;
    position: absolute;
    background-color: white;
    color: black;
    left: -5px;
    top: 15px;
}

svg{
    color :hsl(181, 100%, 16%)
}

svg:hover{
    color: hsl(0, 0%, 35%);
    transition: color 400ms ease-in;
}

.last {
    margin-top: auto;
}

.nav-item:hover .link-text {
    display: block;
    left: 50px;
    animation: scale-in-left 200ms ease-in both;
}

@keyframes scale-in-left {
    0% {
        transform: scale(0);
        transform-origin: 0 50%;
        opacity: 1
    }
    100% {
        transform: scale(1);
        transform-origin: 0 50%;
        opacity: 1
    }
}