<div class="typewriter-container">
    <div class="typewriter d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">Welcome To Daily Fresh</h1>
        <div class="beside">
            <span class="display-5" #tw1> </span><span #tw3 class="display-5"></span>
        </div>
        <button class="btn btn-light mt-4"> <a routerLink="/snacks">
                <h4>Shop</h4>
            </a> </button>
    </div>
</div>

<div class="container">
    <div class="features mt-4">
        <h3 class="text-center">Features</h3>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card shake">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="img-1 text-center">
                                <img src="../../assets/Images/Cart.png" width="100px" alt="">
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <h5>Fast Delivery</h5>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, esse ipsum
                            consectetur veniam asperiores vel est assumenda cum libero ipsa enim nostrum doloremque
                            autem rerum explicabo exercitationem, unde quos!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shake">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="img-1 text-center">
                                <img src="../../assets/Images/Farmer-removebg-preview.png" width="100px" alt="">
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <h5>Support Local Farmers</h5>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, esse ipsum
                            consectetur veniam asperiores vel est assumenda cum libero ipsa enim nostrum doloremque
                            autem rerum explicabo exercitationem, unde quos!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col shake">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="img-1 text-center">
                                <img src="../../assets/Images/Cs-removebg-preview (2).png" width="100px" height="100px"
                                    alt="">
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <h5>24/7 Service</h5>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, esse ipsum
                            consectetur veniam asperiores vel est assumenda cum libero ipsa enim nostrum doloremque
                            autem rerum explicabo exercitationem, unde quos!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Now!! -->
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 mt-4">
        <div class="col">
            <a routerLink="/snacks">
                <div class="card snacks">
                    <div class="card-body">
                        <div class="snacks-txt">
                            <p class="display-6 text-danger">Discount Upto 55%*</p>
                            <p class="text-muted">On Snacks</p>
                            <button class="btn btn-danger">Shop Now!!</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="/fruits-vegitables">
                <div class="card fruits">
                    <div class="card-body">
                        <div class="fruits-txt">
                            <p class="display-6 text-danger">Discount Upto 85%*</p>
                            <p class="text-muted">On Fruits & Vegetables</p>
                            <button class="btn btn-danger">Shop Now!!</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Why Choose Us -->
    <div class="row mt-4">
        <div class="col-8">
            <h3>Why Choose Us?</h3>
        </div>
        <div class="col-4">
            <h3>Discount</h3>
        </div>
    </div>
</div>

<!-- Coustmer Review -->
<div class="coustmer-review">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<!--Email NewsLetter-->
<div class="email-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-8">

            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
</div>